body {background-color: #ffffff; margin: 0; background-repeat:repeat-x;}
.banner {background-color: none; background: url(assets/images/mountains.png) no-repeat center center fixed;} 
.wrapper {background-color: none; padding: 25px; text-align: center;}
.announce {background-color: #none; padding: 25px; text-align: center; }
.portfolio {background-color: none; padding: 25px; text-align: center; }
img {padding:0px;}
#nav {padding: 0px;}
.photo {padding:0px}


h1 {font-family: 'Montserrat', sans-serif;font-size: 16pt; line-height: 16pt; font-weight: 300; color: #5C7085; text-align: center;}
h2 {font-family: 'Sacramento', sans-serif;font-size: 28pt; line-height: 24pt; font-weight: 300; color: #32354F; text-align: center; width: 65%;}
p {font-family: 'Open Sans', sans-serif;font-size: 14pt; line-height: 24pt; font-weight: 300; color: #32354F; text-align: center; width: 65%;}
hr {width: 20%; background-color: #E6C10D; }
footer {font-family: 'Montserrat', sans-serif;font-size: 10pt; line-height: 14pt; font-weight: 300; text-align: center;}

a {font-family: 'Montserrat', font-weight: 100; sans-serif; font-size: 10pt; line-height:18pt; color: #5b5b5b; margin: 25px;}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}


